player-connection-mode=Listen
player-connection-guid=3710520987
player-connection-debug=0
player-connection-project-name=Decanautes
player-connection-ip=192.168.56.1
player-connection-ip=192.168.1.90
player-connection-ip=192.168.137.1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=aa1cc8f086d742ee933d47925d30255d
