player-connection-mode=Listen
player-connection-guid=4054063494
player-connection-debug=0
player-connection-project-name=Decanautes
player-connection-ip=10.1.11.99
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=8e000519f3d04d81aade9d4bffcfacb0
